<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802268338735-mcqm5h80f4051gf60d39c85g7mpngs5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802268338735-mcqm5h80f4051gf60d39c85g7mpngs5q</string>
	<key>API_KEY</key>
	<string>AIzaSyDAMQ0dk4Cdy9O3652EOKxJ6V_W85NeJfI</string>
	<key>GCM_SENDER_ID</key>
	<string>802268338735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docSaverApp</string>
	<key>PROJECT_ID</key>
	<string>docsaverapp-91301</string>
	<key>STORAGE_BUCKET</key>
	<string>docsaverapp-91301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802268338735:ios:e1e87c6b0ba42ba6ae84da</string>
</dict>
</plist>